.friends-dashboard {
  display: flex;
  height: 100%;
}

.friends-dashboard main {
  padding: 2em;
}

.friends-dashboard h2 {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.friends-dashboard aside {
  width: 350px;
  height: 100%;
  padding: 1em 0.5em;
}

.friends-dashboard aside header {
  padding: 0 0.6em 1em 0.6em;
}

.friends-dashboard aside h1 {
  font-weight: 700;
  font-size: 1.4em;
}

.friends-dashboard aside i {
  background-color: rgb(108, 117, 125, 0.3);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.9em;
  font-size: 1.3em;
  padding: 0.1em;
}

.friends-link.selected {
  background: #f0f2f5;
  border-radius: 7px;
}

.friends-link.selected i {
  color: #fff;
  background-color: #1679ea;
}