.newsfeed {
  display: flex;
  justify-content: space-between;
}

.newsfeed main {
  padding: 1em 0;
  width: 500px;
}

.invisible {
  width: 150px;
}

@media screen and (max-width: 1023px) {
  .invisible {
    display: none;
  }

  .newsfeed {
    justify-content: center;
  }

  .newsfeed main {
    margin: 0 1em;
  }
}