.post {
  width: 100%;
  margin: 1em 0;
}

.post header {
  display: flex;
  justify-content: space-between;
}

.post .sub-header {
  display: flex;
  gap: 0.5em;
}

.post .user-picture {
  height: 40px;
}

.post-date {
  font-size: 0.8em;
}

.post-content {
  margin: 0.7em 0;
}

.post-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}

.post-data button:hover {
  text-decoration: underline;
}

.post-btns {
  display: flex;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0.3em 0;
  margin: 0.5em 0;
  font-size: 0.95em;
}

.post-btn {
  width: 50%;
  padding: 0.4em 1em;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.post-btn i {
  font-size: 1.3em;
  margin-right: 0.35em;
}
