.post-form {
  display: flex;
  flex-direction: column;
}

.post-form textarea {
  flex-grow: 1;
  resize: none;
  margin-top: 1em;
  font-size: 1.5em;
}

.post-form .user {
  margin-left: 0.1em;
  display: flex;
  align-items: center;
  gap: 0.7em;
}

.post-form .user-picture {
  height: 40px;
}
