.profile-friends {
  width: 100%;
}

.profile-friends .profile-friends-list {
  margin-top: 1.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.friend-id-wrapper {
  display: flex;
  align-items: center;
}

.profile-friends .link-wrapper {
  height: 80px;
  width: 80px;
  margin-right: 1em;
}

.profile-friends .friend-picture {
  width: 100%;
}

.profile-friends .profile-friends-list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .profile-friends .profile-friends-list {
    grid-template-columns: 1fr;
  }
}