.profile-friends {
  width: 100%;
}

.profile-friends .friends-list {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 90px;
  gap: 10px;
}

.profile-friends .friends-list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}