.profile main {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  width: 830px;
  margin: 0 auto;
}

.profile main,
.profile-nav {
  width: 830px;
}

.profile-header {
  text-align: center;
  padding-top: 2.5em;
}

.profile-header .user-picture {
  height: 150px;
}

.profile h1 {
  font-size: 1.8em;
  font-weight: 700;
  margin: 0.7em 0 1em 0;
}

.profile-nav {
  margin: 0 auto;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

.profile .nav-link {
  padding: 1em 0.8em;
  font-size: 0.9em;
}

.profile :not(.selected).nav-link {
  color: #65676b;
}

.profile h2 {
  font-size: 1.1em;
}
