.sidebar {
  width: 250px;
  padding: 1em 0.8em;
  overflow: scroll;
}

.sidebar li {
  padding: 0.6em;
}

.sidebar li:hover {
  background-color: #e4e6eb;
}

.sidebar a {
  display: flex;
  align-items: center;
}

/* increase size of friends icon to match user icon */
.sidebar li:nth-child(2) i {
  font-size: 1.8em;
  margin: 0 0.3em 0 -0.1em;
}

.sidebar li:first-child i {
  font-size: 1.5em;
  margin-right: 0.4em;
}
